<div class="main">
  <div class="profile-img">
    <div class="profile">
      <img src="../../../../../assets/download.jpeg" alt="" />
      <p>Sabina mammadov</p>
      <p>Active</p>
    </div>
    <hr />
  </div>
  <div class="shared-files-list">
    <div class="list-container">
      <div class="list-header">
        <p>Shared files</p>
        <img
          src="../../../../../assets/icons/profile-detail-icons/arrow.svg"
          alt=""
        />
      </div>
    </div>
    <div class="list">
      <!-- <div *ngFor="let item of list"> -->
      <div class="list-item">
        <img
          src="../../../../../assets/icons/profile-detail-icons/doc-icon-det.svg"
          alt=""
        />
        <p>Tomething.docx</p>
      </div>
      <!-- </div> -->
      <a href="#">Show all...</a>
    </div>
  </div>
  <hr />
  <div class="shared-files-visible">
    <div class="list-header">
      <p>People</p>
      <img
        src="../../../../../assets/icons/profile-detail-icons/arrow.svg"
        alt=""
      />
    </div>
    <div class="add_people">
      <img
        src="../../../../../assets/icons/profile-detail-icons/add-people.svg"
        alt=""
      />
      <p>Add people</p>
    </div>
    <div class="groupMemmebers">
      <div class="memmeber">
        <img src="../../../../../assets/download.jpeg" />
        <p>Sabina mammadova</p>
      </div>
    </div>
  </div>
</div>
